


// ----------------------------------------- START ----------------------------------------- //

.app-header .app-header__content {
    padding: 0 20px !important;
}
// .app-header .app-header__content {
//     padding: 0 0 0 0 !important;
// }
.header-btn-lg::before{
    background: none !important;
}
.header-btn-lg {
    padding: 0 !important;
    margin-left: 0 !important;
}
.app-theme-white .app-page-title-custom {
    height: 0px !important;
}

.app-page-title .app-page-title-simple {
    text-align: inherit !important;
}
.btn-group::before{
    position: absolute;
    left: -14px;
    top: 50%;
    background: #dee2e6;
    width: 1px;
    height: 30px;
    margin-top: -15px;
    content: '';
}
.widget-content-left.ml-3.header-user-info {
    padding-right: 29px;
}
.bg-heavy-rain{
    background-image: linear-gradient(to top,#3d4041 0%,#84898b 100%)!important;
}
.fixed-sidebar .app-main .app-main__outer {
    padding-left: 0 !important;
}
.main-card.mb-3.card.custom {
    border-radius: 9% !important;
}
.app-footer .app-footer__inner{
    padding: 0.2rem !important;
    display: block !important;
}
.dot-btn-wrapper{
    display: block !important;
    padding: 0.5rem !important;
}
.footer-dots{
    justify-content: center !important;
}
.fixed-footer .app-footer .app-footer__inner {
    margin-left: 0 !important;
}
.alert-success-custom {
    color: #1b8477 !important;
    background-color: white !important;
    border: 1.5px solid !important;
    border-color: #1f9c5b !important;
    border-radius: 0.5rem !important;
}
.a.dot-btn-wrapper:hover {
    background-color: #d6dff6 !important;
    border-radius: 55% !important;
}
.bg-heavy-rain-custom {
    background-image: linear-gradient(to top, #3c3c3c 0%, #0d6efd 100%) !important;
}
.icon-wrapper-custom {
    display: block !important;
    border-radius: 15px !important;
    padding-top: 8px !important;
    line-height: 17px !important;
}
.scroll-area-sm-sm {
    height: auto !important;
    overflow-x: hidden !important;
    border-radius: 40px !important;
}
.image-rounded-custom {
    width: 70px !important;
    display: list-item !important;
    margin: auto !important;
}
.badge-pill-custom {
    top: -14px !important;
    right: -19px !important;
    padding: 4px 3px !important;
}
span.select2-selection.select2-selection--single {
    height: calc(1.8125rem + 2px) !important;
}
.select2-container--bootstrap4 .select2-selection--single {
    padding: 0.55rem 1.125rem 0.75rem 0.375rem !important;
}
.input-group-text {
    padding: 0.375rem .35rem !important;
}
@media (max-width: 767.98px) {
    .col-md-2 {
        max-width: 104px !important;
        padding-right: 0px !important;
        padding-left: 8px !important;
    }
    .font-icon-wrapper {
        min-height: 100px !important;
        padding-top: 26px;
        border-radius: 31%;
    }
    .popover, .dropdown-menu {
        position: fixed !important;
        z-index: 50;
        left: 31% !important;
        top: 20% !important;
        width: 67% !important;
        transform: translateY(-50%) !important;
        min-width: 10px !important;
        max-height: 30% !important;;
    }
    .no-gutters.row {
        display: flex !important;
    }
    .col-sm-6, .col-xl-4 {
        max-width: 50% !important;
    }
    .grid-menu [class*=col-] {
        border-right: #dee2e6 solid 1px !important;
    }
    .grid-menu [class*=col-]:nth-last-child(-n+1) {
        border-right: #dee2e6 solid 0 !important;
        border-bottom: #dee2e6 solid 1px !important;
    }
}
@media (min-width: 1200px) {
    .grid-menu.grid-menu-3col [class*=col-]:nth-last-child(-n+3) {
        min-width: 50%;
    }
}

// ----------------------------------------- END ----------------------------------------- //



.bg-lightgrey{
    background-color: #f3f3f3;
}

.btn-outline-custom{
    border: 3px solid #ff7d00;
    color: #ff7d00;
}

.btn-outline-custom:hover{
    border: 3px solid #ff7d00;
    color: #fff;
    background-color: #ff7d00;
}
.z-index10{
    z-index: 10;
}

.navbar-custom.nav-sticky li a{
color: white!important;
}
.bg-darkgrey{
    background-color: #252525;
}
@media screen and (min-width: 1200px) {

    .hassle{
        margin-top: 5rem;
    }

.whysepana{
    margin-top: -10rem;
    padding-top: 12rem;
}
}
@media (min-width:992px) and (max-width: 1200px) {

    .hassle{
        margin-top: 5rem;
    }
}

@media (max-width: 576px) {
    .text-center-mobile{
        text-align: center!important;
    }
    .footer-title:after {
        content: '';
        width: 25px;
        border-bottom: 1px solid #FFF;
        position: absolute;
        left: 46%;
        bottom: 0;
        display: block;
        border-bottom: 1px solid;
        opacity: 0.2;
    }

}
